*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.container {
    border: 1px solid black;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.typetask{
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.completed {
    text-decoration: line-through;
}